{% extends "utility/layout.html" %}
{% from "utility/forms.html" import make_form, make_input_field %}
{% from "user/settings/settings.html" import settings_card %}
{% from "user/college-selection.html" import college_list %}
{% from "utility/forms.html" import csrf_token %}

{% block head %}
  {{ super() }}
{% endblock %}
{% block body %}
  {% call settings_card("Select a New College") %}
    <p>Note: All current classes will be removed.</p>
    {{ csrf_token() }}
    {{ college_list(ret=url_for("settings", prop="college")) }}
  {% endcall %}
{% endblock %}


