{% extends "utility/layout.html" %}
{% from "utility/forms.html" import make_form, make_input_field, make_button, make_checkbox %}
{% from "user/settings/settings.html" import settings_card %}
{% from "utility/forms.html" import csrf_token %}

{% block head %}
  {{ super() }}
{% endblock %}
{% block body %}
  {% call settings_card("Change Notification Settings") %}
    {% call make_form(url_for("api_user_settings", prop="notification"), error) %}
      <p>If you want to be notified with text messages and phone calls, please provide your phone number.</p>
      {{ make_input_field("text", "phone", "Phone Number", "[0-9]{11}", "<code>+1(456)789-0123</code> should be input as <code>14567890123</code>", value=user.phone) }}
      {% set no_phone = (user.phone == "") %}
      <p>When a class becomes available, send me:</p>
      <div class="mdl-grid">
        {{ make_checkbox("a_email", "Email", checked=True, disabled=True, tooltip="Email always enabled") }}
        {{ make_checkbox("a_sms", "SMS Text", checked=user.available_sms and not no_phone, disabled=no_phone,tooltip="Set your phone number to enable" if no_phone) }}
        {{ make_checkbox("a_call", "Phone Call", checked=user.available_call and not no_phone, disabled=no_phone, tooltip="Set your phone number to enable" if no_phone) }}
      </div>
      <p>Periodically after a class becomes available, send me:</p>
      <div class="mdl-grid">
        {{ make_checkbox("p_email", "Email", checked=True, disabled=True, tooltip="Email always enabled") }}
        {{ make_checkbox("p_sms", "SMS Text", checked=user.periodically_sms and not no_phone, disabled=no_phone, tooltip="Set your phone number to enable" if no_phone) }}
        {{ make_checkbox("p_call", "Phone Call", checked=user.periodically_call and not no_phone, disabled=no_phone, tooltip="Set your phone number to enable" if no_phone) }}
      </div>
      <p>When a class becomes unavailable, send me:</p>
      <div class="mdl-grid">
        {{ make_checkbox("u_email", "Email", checked=True, disabled=True, tooltip="Email always enabled") }}
        {{ make_checkbox("u_sms", "SMS Text", checked=user.unavailable_sms and not no_phone, disabled=no_phone, tooltip="Set your phone number to enable" if no_phone) }}
        {{ make_checkbox("u_call", "Phone Call", disabled=True, tooltip="Phone call once unavailable is always disabled") }}
      </div>
      {{ make_button("Save Settings") }}
      <script>
      let phone = document.getElementById("phone");
      let checks = ["a_sms", "a_call", "p_sms", "p_call", "u_sms"];
      phone.addEventListener("input", function(){
        let enable = phone.value.match(phone.pattern) !== null;
        checks.forEach(function(name){
            let e = document.getElementById(name).parentElement.MaterialCheckbox;
            if(enable) {
                e.enable();
            } else {
                e.disable();
            }
        });
      })
      </script>
    {% endcall %}
  {% endcall %}
{% endblock %}
