{% extends "utility/layout.html" %}
{% from "utility/forms.html" import make_form, make_input_field, make_button %}
{% from "utility/cards.html" import centered_card %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block body %}
  {% call centered_card("Contact", "contact", "blue-grey") %}
    {% call make_form(url_for("api_send_contact"), error) %}
      If you have any questions, comments, or concerns, don't hesitate to contact us!
      Please include your email so we can respond to your message.
      <div data-skip-on-tab="true" class="ja">
        {{ make_input_field("phone", "phone", "Your Phone", required=True) }}
        <script>
          document.getElementsByTagName("form")[0].onsubmit = function() {
              document.getElementById("phone").value = "18004206969";
          }
        </script>
      </div>
      {{ make_input_field("email", "email", "Your Email", required=True, value=user.email if user) }}
      {% if college_request %}
        {{ make_input_field("text", "subject", "Subject", value="College Add Request") }}
        {{ make_input_field("multiline", "message", "Message", required=True,
           placeholder="Please provide information on your college, including its name and website, and we'll add it as soon as possible.") }}
      {% else %}
        {{ make_input_field("text", "subject", "Subject") }}
        {{ make_input_field("multiline", "message", "Message", required=True) }}
      {% endif %}
      {{ make_button("Send Message") }}
    {% endcall %}
  {% endcall %}
{% endblock %}
