{% extends "utility/layout.html" %}
{% from "utility/forms.html" import make_form, make_input_field, make_button %}
{% from "user/settings/settings.html" import settings_card %}
{% from "utility/forms.html" import csrf_token %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block body %}
  {% call settings_card("Change Password", back=False) %}
    {{ csrf_token() }}
    {% call make_form(url_for("api_reset_password", reset_uuid=reset_uuid), error) %}
      {{ make_input_field("password", "password", "New Password", ".{6,}", "Password must be at least 6 characters long") }}
      {{ make_input_field("password", "c_password", "New Password (confirm)", ".{6,}", "Password must be at least 6 characters long") }}
      {{ make_button("Change Password") }}
    {% endcall %}
  {% endcall %}
{% endblock %}


