{% extends "utility/layout.html" %}
{% from "utility/forms.html" import make_form, make_input_field, make_button %}
{% from "utility/cards.html" import centered_card %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block body %}
  {% call centered_card("Sign In", "sign-in", "blue-grey") %}
    {% call make_form(url_for("api_signin"), error) %}
      {{ make_input_field("email", "email", "Email", required=True) }}
      {{ make_input_field("password", "password", "Password", required=True) }}
      {{ make_button("Sign In") }}
      <div class="mdl-grid">
        <div class="mdl-layout-spacer"></div>
        <a class="mdl-button mdl-js-button mdl-cell mdl-cell--5-col" href="{{ url_for('forgot_password') }}">Forgot
          Password</a>
        <div class="mdl-layout-spacer"></div>
        <a class="mdl-button mdl-js-button mdl-cell mdl-cell--5-col" href="{{ url_for('signup') }}">Sign Up</a>
        <div class="mdl-layout-spacer"></div>
      </div>
      <hr>
      <div class="mdl-grid">
        <div class="mdl-layout-spacer"></div>
        <a class="mdl-cell mdl-cell--10-col mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-color--grey-50 mdl-color-text--grey-700"
          href="{{ url_for("google_signin") }}">
          <img src="{{ url_for("static", filename="images/google_signin_logo.png") }}" alt="Google Logo" class="mdl-button--icon"> Sign in with Google
        </a>
        <div class="mdl-layout-spacer"></div>
      </div>
    {% endcall %}
  {% endcall %}
{% endblock %}
