{% extends "utility/layout.html" %}
{% from "utility/forms.html" import make_form, make_input_field, make_button, make_checkbox %}
{% from "utility/cards.html" import centered_card %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block body %}
  {% call centered_card("Create an Account", "sign-up", "blue-grey") %}
    {% call make_form(url_for('api_signup'), error) %}
      <div data-skip-on-tab="true" class="ja">
        {{ make_input_field("phone", "phone", "Your Phone", required=True) }}
      </div>
      {{ make_input_field("email", "email", "Email", required=True) }}
      {{ make_input_field("password", "password", "Password", ".{6,}", "Password must be at least 6 characters", required=False) }}
      {{ make_input_field("password", "confirm", "Confirm Password", ".{6,}", "Password must be at least 6 characters", required=True) }}
      <div class="mdl-grid">
        <div class="mdl-layout-spacer"></div>
          {{ make_checkbox("agree", "I have read and agree to the <a href='" + url_for("terms_page") + "'>Terms of Service</a> and <a href='" + url_for("privacy_page") + "'>Privacy Policy</a>", size=12) }}
        <div class="mdl-layout-spacer"></div>
      </div>
      <br>
      {{ make_button("Create Account") }}
      <div class="mdl-grid">
        <div class="mdl-layout-spacer"></div>
        <span>or</span>
        <div class="mdl-layout-spacer"></div>
      </div>
      <div class="mdl-grid">
        <div class="mdl-layout-spacer"></div>
        <a class="mdl-cell mdl-cell--10-col mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-color--grey-50 mdl-color-text--grey-700"
          href="{{ url_for("google_signin") }}">
          <img src="{{ url_for("static", filename="images/google_signin_logo.png") }}" alt="Google Logo" class="button-icon"> Create an account using Google
        </a>
        <div class="mdl-layout-spacer"></div>
      </div>
    {% endcall %}
  {% endcall %}
{% endblock %}
