{% extends "utility/layout.html" %}
{% from "utility/cards.html" import centered_card %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block body %}
  {% call centered_card("Terms Of Service", "terms", "blue-grey", width=6) %}

    <strong>Effective Date: July 1, 2019</strong>

    <br><br>
    This Terms of Service ("Agreement") constitutes a legally binding agreement made between you
    and <strong>Class Alerts LLC</strong> ("Company"), regarding your access and use of the
    <a href="{{ url_for("landing_page") }}">classalerts.org</a> website ("Website"). The Company
    Website provides services to facilitate class enrollment and registration to college
    students ("Company Services").
    <br><br>
    All users who are minors in the jurisdiction in which they reside are not permitted to
    register for the Website.
    <br><br>

    <i>By using the Website and registering for an account, you accept and agree
    to be bound by this agreement. If you do not agree to abide by this agreement
    or to modifications Company may make in the future, do not use or continue to
    access the website.</i>
    <br><br><br>

    <strong>Users</strong>
    <br><br>
    By using the Website, you represent and warrant that:
    <br>
    <ul>
      <li>You have access to the email registered with your account</li>
      <li>You will keep your password confidential and will be responsible for all use of your password and account</li>
      <li>You are not a minor in the jurisdiction in which you reside</li>
      <li>Your use of the Website does not violate any applicable law or regulation</li>
    </ul>
    The Company reserves the right to terminate your account and refuse future use of the Website at any time.
    <br><br><br>

    <strong>Purchases</strong>
    <br><br>
    An account must periodically pay a fee to be eligible to monitor classes and receive notifications
    regarding these classes. The value of this fee is determined by your college's academic schedule.
    An account must be renewed every semester, quarter, or other period, depending on its college's
    academic schedule to be able to monitor classes.
    <br><br>
    You authorize the Company and any third party payment processing companies to charge your chosen payment
    provider. You agree to pay the Company all charges at the prices then in effect for the products you,
    or other persons using your account, may purchase.
    <br><br>
    All sales are final and no refunds shall be issued.
    <br><br><br>

    <strong>Prohibited Activities</strong>
    <br><br>
    You may not access or use the Website for any purpose other than those which the Company makes
    available. The Website may not be used in connection with any commercial endeavors except those
    that are specifically endorsed or approved by the Company. Prohibited activity includes, but
    is not limited to:
    <br>
    <ul>
      <li>Attempting to bypass any measures of the Website designed to prevent or restrict access to
        the Website, or any portion of the Website</li>
      <li>Deleting the copyright or other proprietary rights notice from any Website content</li>
      <li>Harassing, annoying, intimidating, or threatening any Company employees or agents engaged in
        providing any portion of the Website or other Company Services to you</li>
      <li>Interfering with, disrupting, or creating an undue burden on the Website or the networks
        or services connected to the Website</li>
      <li>Making any unauthorized use of the Company Services, including collecting email addresses of
        users by electronic or other means for the purpose of sending unsolicited email, or creating user
        accounts by automated means or under false pretenses.</li>
      <li>Sharing, selling, or otherwise transferring your account and its features</li>
      <li>Criminal activity</li>
      <li>Attempting to impersonate another user or person, or using the email of another user</li>
      <li>Tricking, defrauding, or misleading the Company and other users, especially in any attempt to
        learn sensitive account information such as passwords</li>
      <li>Using the Company Services as part of any effort to compete with Company</li>
      <li>Using the Website in a manner inconsistent with any and all applicable laws and regulations</li>
    </ul>
    <br>

    <strong>Intellectual Property Rights</strong>
    <br><br>
    The content on the Website ("Company Content") and the trademarks, service marks, and logos contained
    therein ("Marks"), are subject to copyright and other intellectual property rights under United States
    and foreign laws and international conventions. Company Content includes, without limitation, all source
    code, databases, functionality, software, website designs, text, and graphics. All Company graphics,
    logos, designs, page headers, button icons, scripts, and service names are registered trademarks,
    common law trademarks, or trade dress of Company in the United States. Company's trademarks and trade
    dress may not be used, including as part of trademarks and/or as part of domain names, in connection
    with any product or service in any manner that is likely to cause confusion and may not be copied,
    imitated, or used, in whole or in part, without the prior written permission of the Company.
    <br><br>
    Company Content on the Website is provided to you "AS IS" for your information and personal use only
    and may not be used, copied, reproduced, aggregated, distributed, transmitted, broadcast, displayed, sold,
    licensed, or otherwise exploited for any purposes whatsoever without the prior written consent of the
    respective owners.  Provided that you are eligible to use the Website, you are granted a limited license
    to access and use the Website and the Company Content, and to download or print a copy of any portion of
    the Company Content to which you have properly gained access solely for your personal, non-commercial use.
    Company reserves all rights not expressly granted to you in and to the Website and Company Content and Marks.
    <br><br><br>

    <strong>Third Party Websites and Content</strong>
    <br><br>
    The Website contains (or you may be sent through the Website or the Company Services) links to other websites
    ("Third Party Websites") as well as text, graphics, pictures, designs, information, applications, software
    and other content or items belonging to or originating from third parties (the "Third Party Content").
    Such Third Party Websites and Third Party Content are not investigated, monitored or checked for accuracy,
    appropriateness, or completeness by us, and we are not responsible for any Third Party Websites accessed
    through the Website or any Third Party Content posted on, available through or installed from the Website,
    including the content, accuracy, offensiveness, opinions, reliability, privacy practices or other policies of
    or contained in the Third Party Websites or the Third Party Content. Inclusion of, linking to or permitting
    the use or installation of any Third Party Website or any Third Party Content does not imply approval or
    endorsement thereof by us. If you decide to leave the Website and access the Third Party Websites or to use
    or install any Third Party Content, you do so at your own risk and you should be aware that our terms and
    policies no longer govern. You should review the applicable terms and policies, including privacy and data
    gathering practices, of any website to which you navigate from the Website or relating to any applications
    you use or install from the Website. Any purchases you make through Third Party Websites will be through other
    websites and from other companies, and Company takes no responsibility whatsoever in relation to such purchases
    which are exclusively between you and the applicable third party.
    <br><br><br>

    <strong>Site Management</strong>
    <br><br>
    Company reserves the right but does not have the obligation to:
    <br>
    <ul>
      <li>Monitor the Website for violations of this Agreement</li>
      <li>Take appropriate legal action against anyone who, in Company’s sole discretion, violates this Agreement,
        including without limitation, reporting such user to law enforcement authorities</li>
      <li>In Company’s sole discretion and without limitation, refuse, restrict access to or availability of, or
        disable (to the extent technologically feasible) any user’s contribution or any portion thereof that may
        violate this Agreement or any Company policy</li>
      <li>In Company’s sole discretion and without limitation, notice or liability to remove from the Website or
        otherwise disable all files and content that are excessive in size or are in any way burdensome to
        Company’s systems</li>
      <li>Otherwise manage the Website in a manner designed to protect the rights and property of Company and
        others and to facilitate the proper functioning of the Website</li>
    </ul>
    <br>

    <strong>Privacy Policy</strong>
    <br><br>
    We care about the privacy of our users. Please review the Company Privacy Policy. By using the Website or
    Company Services, you are consenting to have your personal data transferred to and processed in the United States.
    By using the Website or the Company Services, you are consenting to the terms of our Privacy Policy.
    <br><br><br>

    <strong>Term and Termination</strong>
    <br><br>
    This Agreement shall remain in full force and effect while you use the Website or are otherwise a user or member
    of the Website, as applicable. You may terminate your use or participation at any time, for any reason, by
    following the instructions for terminating user accounts in your account settings, if available, or by
    contacting us using the contact information below.
    <br><br>
    <i>Without limiting any other provision of this agreement, Company reserves the right to, in Company’s sole
    discretion and without notice or liability, deny access to and use of the Website and the Company Services,
    to any person for any reason or for no reason at all, including without limitation for breach of any
    representation, warranty or covenant contained in this agreement, or of any applicable law or regulation,
    and Company may terminate your use or participation in the Website and the Company Services, delete your
    profile and any content or information that you have posted at any time, without warning, in Company’s
    sole discretion.</i>
    <br><br>
    In order to protect the integrity of the Website and Company Services, Company reserves the right at any time in
    its sole discretion to block certain IP addresses from accessing the Website and Company Services. Any provisions
    of this Agreement that, in order to fulfill the purposes of such provisions, need to survive the termination
    or expiration of this Agreement, shall be deemed to survive for as long as necessary to fulfill such purposes.
    <br><br>
    <i>You understand that certain states allow you to cancel this agreement, without any penalty or obligation,
    at any time prior to midnight of company’s third business day following the date of this agreement, excluding
    Sundays and holidays. To cancel, contact Company using the <a href="{{ url_for("contact_page") }}">contact page</a>
    or other contact methods described below. This section applies only to individuals residing in states with
    such laws.</i>
    <br><br>
    If Company terminates or suspends your account for any reason, you are prohibited from registering and
    creating a new account under your name, a fake or borrowed name, or the name of any third party, even
    if you may be acting on behalf of the third party. In addition to terminating or suspending your account,
    Company reserves the right to take appropriate legal action, including without limitation pursuing civil,
    criminal, and injunctive redress
    <br><br><br>

    <strong>Modifications</strong>
    <br><br>
    Company may modify this Agreement from time to time. Any and all changes to this Agreement will be posted
    on the Website and revisions will be indicated by date. You agree to be bound to any changes to this Agreement
    when you use the Company Services after any such modification becomes effective.
    <br><br>
    Company may also, in its discretion, choose to alert all users with whom it maintains email information of
    such modifications by means of an email to their most recently provided email address. It is therefore
    important that you regularly review this Agreement and keep your contact information current in your
    account settings to ensure you are informed of changes. You agree that you will periodically check the
    Website for updates to this Agreement and you will read the messages we send you to inform you of any
    changes. Modifications to this Agreement shall be effective after posting.
    <br><br>
    Company reserves the right at any time to modify or discontinue, temporarily or permanently, the Company
    Services (or any part thereof) with or without notice. You agree that Company shall not be liable to
    you or to any third party for any modification, suspension or discontinuance of the Company Services.
    <br><br><br>

    <strong>Disclaimers</strong>
    <br><br>
    <i>You agree that your use of the website and company services will be at your sole risk. To the fullest
    extent permitted by law, Company, its officers, directors, employees, and agents disclaim all warranties,
    express or implied, in connection with the Website and the Company Services and your use thereof,
    including, without limitation, the implied warranties of merchantability, fitness for a particular
    purpose and non-infringement. Company makes no warranties or representations about the accuracy or
    completeness of the Company Content or the content of any websites linked to this website and assumes
    no liability or responsibility for any (a) errors, mistakes, or inaccuracies of content and materials,
    (b) personal injury or property damage, of any nature whatsoever, resulting from your access to and use
    of our Website, (c) any unauthorized access to or use of our secure servers and/or any and all personal
    information and/or financial information stored therein, (d) any interruption or cessation of transmission
    to or from the Website or Company Services, (e) any bugs, viruses, trojan horses, or the like which may
    be transmitted to or through the website by any third party, and/or (f) any errors or omissions in any
    content and materials or for any loss or damage of any kind incurred as a result of the use of any
    content posted, transmitted, or otherwise made available via the Website. Company does not warrant,
    endorse, guarantee, or assume responsibility for any product or service advertised or offered by a third
    party through the website or any hyperlinked website or featured in any banner or other advertising, and
    Company will not be a party to or in any way be responsible for monitoring any transaction between you and
    third-party providers of products or services. As with the purchase of a product or service through any
    medium or in any environment, you should use your best judgment and exercise caution where appropriate.</i>
    <br><br><br>

    <strong>Notices</strong>
    <br><br>
    Except as explicitly stated otherwise, any notices given to Company shall be given by email to the address
    listed in the contact information below. Any notices given to you shall be given to the email address you
    provided during the registration process, or such other address as each party may specify. Notice shall be
    deemed to be given twenty-four (24) hours after the email is sent, unless the sending party is notified that
    the email address is invalid.
    <br><br><br>

    <strong>User Data</strong>
    <br><br>
    Our Website will maintain certain data that you transfer to the Website for the purpose of the performance
    of the Company Services, as well as data relating to your use of the Company Services. Although we perform
    regular routine backups of data, you are primarily responsible for all data that you have transferred or
    that relates to any activity you have undertaken using the Company Services. You agree that Company shall
    have no liability to you for any loss or corruption of any such data, and you hereby waive any right of
    action against Company arising from any such loss or corruption of such data.
    <br><br><br>

    <strong>Electronic Contracting</strong>
    <br><br>
    Your use of the Company Services includes the ability to enter into agreements and/or to make transactions
    electronically.
    <br><br>
    <i>You acknowledge that your electronic submissions constitute your agreement and intent to be bound by and
    to pay for such agreements and transactions. Your agreement and intent to be bound by electronic submissions
    applies to all records relating to all transactions you enter into relating to the Company Services,
    including notices of cancellation, policies, contracts, and applications.</i>
    <br><br><br>

    <strong>Miscellaneous</strong>
    <br><br>
    This Agreement constitutes the entire agreement between you and Company regarding the use of the Company
    Services. The failure of Company to exercise or enforce any right or provision of this Agreement shall
    not operate as a waiver of such right or provision. The section titles in this Agreement are for
    convenience only and have no legal or contractual effect. This Agreement operates to the fullest extent
    permissible by law. This Agreement and your account may not be assigned by you without our express written
    consent. Company may assign any or all of its rights and obligations to others at any time. Company shall
    not be responsible or liable for any loss, damage, delay or failure to act caused by any cause beyond
    Company's reasonable control. If any provision or part of a provision of this Agreement is unlawful,
    void or unenforceable, that provision or part of the provision is deemed severable from this Agreement
    and does not affect the validity and enforceability of any remaining provisions. There is no joint
    venture, partnership, employment or agency relationship created between you and Company as a result
    of this Agreement or use of the Website and Company Services. You agree that this Agreement will not
    be construed against Company by virtue of having drafted them. You hereby waive any and all defenses
    you may have based on the electronic form of this Agreement and the lack of signing by the parties
    hereto to execute this Agreement.
    <br><br><br>

    <strong>Contact Us</strong>
    <br><br>
    In order to resolve a complaint regarding the Company Services or to receive further information regarding
    use of the Company Services, please contact Company using the Website's
    <a href="{{ url_for("contact_page") }}">contact page</a>.  You may also contact Company via email at
    <strong>contact@classalerts.org</strong> or by physical mail to <strong>5340 Queen Ann Ln Santa Barbara, CA 93111.</strong>
    <br><br>
    If any complaint with us is not satisfactorily resolved, and you are a California resident, you can contact
    the <strong>Complaint Assistance Unit of the Division of Consumer Services of the Department of Consumer
    Affairs</strong> in writing at <strong>400 "R" Street, Sacramento, CA 95814</strong> or by telephone at <strong>19164451254</strong>.
    <br>

  {% endcall %}
{% endblock %}

