{% extends "utility/layout.html" %}
{% from "utility/cards.html" import centered_card %}
{% from "utility/forms.html" import make_form, make_input_field, make_button %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block body %}
  {% call centered_card("Activate Your Account", "renew", "purple") %}
    <p>Activating your account will allow you to request classes for the current {{ user_college.renewal_period }}. It
      costs
      ${{ user_college.renewal_cost }} to activate your account (<strong>{{ user.email }}</strong>). You can pay online
      with PayPal or
      enter a Free {{ user_college.renewal_period|title }} Code below!
    </p>
    <p>
      If you experience any difficulties, please contact us.
    </p>
    <!--- [BEGIN PAYPAL BUTTON] -->
    <div style="text-align:center">
      <a href="{{ url_for('paypal_redirect') }}">
        <img src="https://www.paypalobjects.com/en_US/i/btn/btn_xpressCheckout.gif" alt="PayPal">
      </a>
    </div>
    <!--- [END PAYPAL BUTTON] -->
    <br><br>
    <p>
      Have a code? Enter it below to receive a free {{ user_college.renewal_period }}!
    </p>
    {% call make_form(url_for('do_use_free_code'), error) %}
      {{ make_input_field("text", "code", "Code", "[A-z0-9]{5,}", "Codes must be at least 5 characters (letters and numbers only)", required=True) }}
      {{ make_button("Submit Code") }}
    {% endcall %}
  {% endcall %}
{% endblock %}


