{% macro email_card(email_to, title, title_color="#009688") -%}
  <html lang="en-US">
  <body style="margin: 0;
            padding: 0;
            background-color: whitesmoke;
            font-family: 'Roboto', 'Helvetica', sans-serif;">
  <div style="width:100%;
    text-align: center">
    <div style="
      display: inline-block;
      max-width: 800px;
      width: 100%;
      min-height: 200px;
      margin-top: 20px;
      text-align: start;
      font-size: 16px;
      font-weight: 400;
      background: #fff;
      border-radius: 5px;
      border-bottom: #ddd solid 2px;
      border-right: #ddd solid 1px;
      overflow: hidden;
      box-sizing: border-box;">
      <div style="
              background-color: {{ title_color }};
              line-height: normal;
              padding: 16px;">
        <h2 style="
          color: white;
          font-size: 24px;
          font-weight: 400;
          line-height: normal;
          margin: 0;">
          {{ title }}
        </h2>
      </div>
      <div style="color: rgba(0,0,0,.54);
          font-size: 1rem;
          line-height: 18px;
          overflow: hidden;
          padding: 16px;">
        {{ caller() }}
      </div>
    </div>
  </div>
  <div style="text-align: center; margin-top: 50px; width: 100%; color: lightgray">
    <div style="display: inline">
      This email was sent to {{ email_to }} by classalerts.org. To unsubscribe, email info@m.classalerts.org or delete your account.
      <br>
      <strong>&copy; 2021 Nathan Wachholz</strong> | 5340 Queen Ann Ln, Santa Barbara, CA, 93111
    </div>

  </div>
  </body>
  </html>
{%- endmacro %}
